.inspir{
    color:rgba(3, 151, 156, 1);
    width: 1460px;
    height: 120px;
    font-weight: 600;
    text-align: center;
    font-size: 102px;
    margin-top: 10%;
    line-height: 120px;
    font: Degular;

}
.explore{
    font-weight: 500;
    font-size: 42px;
    line-height: 38px;
    margin-top: 80px;

    text-align: center;


  
}
.bag-green{
    background-color: rgba(3, 151, 156, 0.17);
    height: 1223px;
    width: 50%;
    direction: rtl;
    margin-left: 50%;
    margin-top: 70px;
    border-radius: 12px;
}
.exp-butt{

  font-size: 27px;
    background-color: rgba(251, 191, 49, 1);
    border-radius: 14px;
    padding: 13px;
    gap: 10px;

    position:absolute;
    bottom:10%; 
    left: 41%;
    

}
.home-images{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width: 90%;
    gap: 13px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: -1160px;
}
.home-images img{
    width: 296.89px; 
    height: 409.05px; 
    border-radius: 28px;
    object-fit:cover;

}
.cul-one{
    gap: 13px;
    display: grid;
}
.cul-two{
    gap: 13px;
    display: grid;
    margin-top: 170px;

}
.cul-three{
    gap: 13px;
    display: grid;
    margin-bottom: -320px;

}
.cul-fuor{
    gap: 13px;
    display: grid;
    margin-top: 170px;


}
.cul-five{
    gap: 13px;
    display: grid;


}
    

@media (max-width: 768px) {
    .inspir {
        font-size: 20px;
        height: auto;
        line-height: normal;
    }

    .bag-green {
        width: 100%;
        height: 1223px;
        margin-left: 0;
        border-radius: 0;
    }

    .home-images {
    }

    .exp-butt {
        left: 50%;
        transform: translateX(-50%);
    }
}
