@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-container {
  height: 65px; /* Desired reduced height */
  overflow: hidden;
  width: 235px; /* Match SVG width */
}

.success-img {
  border-radius: 500px 0px 500px 500px;
}
